.SearchResults__title {
	margin: 0;
	padding: 10px;
	font-size: 22px;
}

.SearchResults__result {
	padding: 10px;
	margin: 20px 20px 0 20px;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	border-bottom: 2px solid white;
}

.SearchResults__result:last-child {
	border: none;
}

.SearchResults__container {
	display: flex;
	align-items: baseline;
}

.SearchResults__iframe {
	width: 350px;
	height: 175px;
	border: 0;
}

.SearchResults__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.SearchResults__result_title {
	padding: 20px 50px;
}

.SearchResults__back {
	margin: 20px 50px;
	padding: 5px 10px;
	font-size: 24px;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 5px;
}

.SearchResults__back:hover {
	background-color: black;
	border: 1px solid black;
}

.purple {
	background-color: #8151bf;
	border: 0;
}
