.App__nav {
	display: flex;
	padding: 10px;
}

.App__header {
	justify-self: center;
	margin: auto;
}

.App__logo {
	width: 100px;
}

.Converter {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 5% 0;
}

.Converter__input {
	font-size: 18px;
	padding: 15px 20px;
	border: 1px solid black;
	border-right: 0;
	border-radius: 10px 0 0 10px;
}

.Converter__find_btn {
	font-size: 18px;
	padding: 15px 20px;
	border: 1px solid black;
	border-left: 0;
	border-radius: 0 10px 10px 0;
	background-color: white;
	color: #1f1f1f;
}

.Converter__find_btn:hover {
	color: white;
	background-color: #1f1f1f;
}

.Converter__vid_title {
	padding: 0 10%;
	font-size: 20px;
	margin: 20px;
}

.Converter__video {
	width: 800px;
	height: 500px;
	border: none;
}

.Converter__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Converter__download {
	text-decoration: none;
	font-size: 18px;
	border: 1px solid black;
	background-color: black;
	padding: 5px 10px;
	margin: 20px;
	border-radius: 5px;
	color: white;
}

.Converter__download:hover {
	background-color: white;
	color: black;
}

.error {
	color: red;
}
