.App {
	background-image: url("./images/main_bg.svg");
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(20px);
}
.App__blurred_bg {
	height: 100%;
	background-position: center;
	filter: blur(10px);
}
.App__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: black;
	color: white;
}

.App__header {
	justify-self: center;
	margin: auto;
}

.App__logo {
	height: 50px;
	padding: 20px 50px;
}

.Converter {
	padding: 5% 0;
}

.Converter__input_wrapper,
.Converter__btn_wrapper {
	display: flex;
	justify-content: center;
	margin: 20px;
}
.Converter__input {
	font-size: 18px;
	padding: 10px 20px;
	width: 50%;
	border: 0;
	border-radius: 5px;
}

.Converter__find_btn {
	font-size: 18px;
	padding: 25px;
	margin: 0 20px;
	border: 0;
	border-radius: 5px;
	background: #8151bf url("./images/search.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px;
}

.Converter__find_btn:hover {
	color: white;
	background-color: #1f1f1f;
}

.Converter__vid_title {
	padding: 0 10%;
	font-size: 20px;
	margin: 20px;
	color: white;
	font-weight: normal;
	text-align: center;
}

.Converter__video {
	width: 700px;
	height: 400px;
	border: none;
}

.Converter__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Converter__download {
	text-decoration: none;
	font-size: 18px;
	border: 1px solid black;
	background-color: black;
	padding: 5px 10px;
	margin: 20px;
	border-radius: 5px;
	color: white;
}

.Converter__download:hover {
	background-color: white;
	color: black;
}

.links_wrapper {
	padding: 10px;
}
.social_links {
	height: 50px;
	padding: 0 10px;
}
.input_btn {
	font-size: 18px;
	padding: 10px;
	width: 20%;
	margin: 0 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	border-radius: 5px;
	background-color: #8151bf;
	color: white;
}

.btn_img {
	height: 20px;
	padding-right: 10px;
}
.error {
	color: red;
}
